@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display&display=swap');

body{
  font-family: 'Playfair Display', serif;
}

.app-wrapper{
  display: grid;
  max-width: 1100px;
  margin: 0 auto;
  height: 100vh;
  grid-template-areas: 
  "hd hd hd"
  "bg bg bg"
  "c c c"
  "ft ft ft";

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 1fr 1fr 60px;
  
}
.bg{
  grid-area: bg;
}
.app-wrapper-content{
  grid-area: c;
  background-color: rgb(255,255,255);
}